<button type="button" class="btn btn-primary"><a routerLink = "ViewStudent">View Students</a></button>
<button type="button" class="btn btn-secondary"><a routerLink = "ViewClasses">View Classes</a></button>
<button type="button" class="btn btn-success"><a routerLink = "stdexpress">View Students (from express)</a></button>
<button type="button" class="btn btn-danger"><a routerLink = "ViewProfile">Teacher Profile</a></button>
<button type="button" class="btn btn-warning"><a routerLink = "Signup">Sign Up</a></button>


<router-outlet></router-outlet>



