<button type="button" class="btn btn-success"><a routerLink = "General Concepts">General Concepts</a></button>
<button type="button" class="btn btn-danger"><a routerLink="viewStdService">View Students</a></button>
<button type="button" class="btn btn-warning"><a routerLink="updateStd">Update Students</a></button>
<button type="button" class="btn btn-secondary"><a routerLink = "ViewProfile">Teacher Profile</a></button>
<button type="button" class="btn btn-primary"><a routerLink = "Signup">Login</a></button>

<router-outlet></router-outlet><br>
<!--<ul>
    <li *ngFor="let item of items">{{item}}</li>
</ul>

<app-test (newItemEvent)="addItem($event)"></app-test>
<br>-->
